doctype html
html(lang = 'en')
    head
        meta(charset='utf-8')
        title Webpack Vetclinic Website
    body
        include header.pug 
        include main_content.pug 
        include footer.pug 